* {
	margin: 0;
	padding: 0;
}


.canvas-wrapper {background-color:#fff !important;}

/* 
	Generic Styling, for Desktops/Laptops 
	*/
table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3d8f8f;
	color: #fff;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

td {
	color: #494d50;
	background-color: #fff;
}

.btn-glyphicon {
	padding: 8px;
	/* background:#ffffff;
    margin-right:4px;*/
}

.icon-btn {
	padding: 1px 1px 30px 2px;
	border-radius: 270px;
}

.btns_users {
	text-align: right;
}

.btns_users a {
	font-size: 13px;
}

.control-lable {
	color: #3d8f8f !important;
}

.form_user_edit {
	padding-left: 10px;
}

.input_my_style {
	font-size: 13px !important;
	width: 100% !important;;
	border: 1px solid #8c8c8c !important;
}

	